/** Custom Font */
@font-face {
  font-family: "CookieRun_Black";
  src: url("./../../assets/fonts/CookieRun_Black.otf");
  font-weight: normal;
}
@font-face {
  font-family: "CookieRun_Bold";
  src: url("./../../assets/fonts/CookieRun_Bold.otf");
  font-weight: normal;
}
@font-face {
  font-family: "CookieRun_Regular";
  src: url("./../../assets/fonts/CookieRun_Regular.otf");
  font-weight: normal;
}
