@font-face {
  font-family: "cookieRun_black";
  src: url("./../../font/CookieRun/Black.otf");
}
@font-face {
  font-family: "cookieRun_bold";
  src: url("./../../font/CookieRun/Bold.otf");
}
@font-face {
  font-family: "cookieRun_Regular";
  src: url("./../../font/CookieRun/Regular.otf");
}
