.launch-header {
  position: fixed;
  top: 70px;
  left: 60px;
  width: calc(100vw - 60px);
  z-index: 99;
  display: flex;
  justify-content: center;
}

.launch-header__content {
  min-width: 270px;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.launch-header__content-coin {
  width: 20px;
  margin: 0 5px;

  img {
    width: 100%;
  }
}

.market {
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;
}

.market span {
  color: #fff;
  letter-spacing: 0.8px;
  cursor: pointer;
  font-size: 14px;
}

.market:hover span {
  color: rgba($color: #fff, $alpha: 70%);
}

@media screen and (max-width: 740px) {
  .market span {
    cursor: pointer;
    font-size: 12px;
    -webkit-text-stroke: 0.2px black;
  }
}
