.modal-thankyou,
.modal-comingsoon {
  display: flex;
  justify-content: center;
  min-width: 100vw;
}

.modal-thankyou > .modal-content,
.modal-comingsoon > .modal-content {
  width: 50vw;
  height: 33.5vw;
  border-radius: 37px;
  .modal-container {
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(81, 179, 229, 1) 0%,
      rgba(102, 175, 232, 1) 32%,
      rgba(66, 102, 176, 1) 73%
    );
    border-radius: 37px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: 5px solid #fff;
    img {
      width: 70%;
      margin: 0 auto;
    }
    h1 {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 46px;
    }
  }
}

.modal-header {
  display: block;
  border: none;
  padding: 4px;
}
.modal-header img {
  width: 100%;
}
.close-modal {
  width: 40px;
  height: 40px;
  position: absolute;
  border: none;
  outline: none;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.close-modal img {
  width: 100%;
  cursor: pointer;
}
.modal-thankyou > .modal-content p {
  display: block;
  width: 90%;
  margin: 0 5%;
}

// Medium devices (tablets)
@media (min-width: 768px) and (max-width: 991.98px) {
  .modal-thankyou > .modal-content,
  .modal-comingsoon > .modal-content {
    width: 70vw;
    height: 50vw;
    border-radius: 37px;

    .modal-container {
      flex-direction: column;
      border: 5px solid #fff;

      img {
        width: 70%;
        margin: 0 auto;
      }

      h1 {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 46px;
      }
    }
  }

  .modal-thankyou > .modal-content,
  .modal-comingsoon > .modal-content {
    width: 70vw;
  }
}

// Medium devices (mobiles)
@media (max-width: 767.98px) {
  .modal-thankyou > .modal-content,
  .modal-comingsoon > .modal-content {
    width: 90vw;
    height: 55vw;
    border-radius: 18px;

    .modal-container {
      border-radius: 18px;
      flex-direction: column;
      border: 5px solid #fff;
      border: 2px solid #fff;

      img {
        width: 60%;
        margin: 0 auto;
      }

      h1 {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 20px;
      }
    }
  }
  .modal-header {
    padding: 2px;
  }
  .close-modal {
    width: 25px;
    height: 25px;
    top: 15px;
    right: 15px;
  }
}