* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: url("https://storage.googleapis.com/laboon-img-storage/play-elu/gameplay/logo192.png"), auto;
  -webkit-text-size-adjust: none;
  font-family: var(--font_content);
}

*::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  padding-left: 0;
}
li {
  list-style-type: none;
  cursor: pointer;
}
::placeholder {
  color: #adadad;
  opacity: 0.8;
}
:-ms-input-placeholder {
  color: #adadad;
}
::-ms-input-placeholder {
  color: #adadad;
}