/** SCSS Style, Seems unsupported */
// --font_content: "CookieRun_Regular";
// --font_black: "CookieRun_Black";
// --font_bold: "CookieRun_Bold";

/** CSS Style */
:root {
  --font_content: "CookieRun_Regular";
  --font_black: "CookieRun_Black";
  --font_bold: "CookieRun_Bold";
  --widthModalDrop: 90vw;
}