$font_content: "cookieRun_Regular";
$font_black: "cookieRun_black";
$font_bold: "cookieRun_bold";

a {
  text-decoration: none;
  color: #fff;
}
html {
  scroll-behavior: smooth;
}
.gameplay-body {
  overflow: hidden;
  width: 100vw;
  background: linear-gradient(#214c96, #45cee9);
}

.sky {
  background: url("https://storage.googleapis.com/laboon-img-storage/play-elu/gameplay/skyBackground.webp")
    no-repeat center / cover;
  position: relative;
  margin-top: 56px;
}
.sky-center {
  max-width: 1280px;
  position: relative;
  z-index: 1;
  margin: auto;
  width: 90%;
  .island {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

// Start scss button Drop and Nest
.elu-btn {
  width: 157px;
  height: 68px;
  font-weight: bolder;
  margin: 0 auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: scale(1);
  text-align: center;
  align-items: center;
  h2 {
    font-size: 18px;
    cursor: pointer;
    padding-top: 12px;
    text-transform: uppercase;
  }
}
.btn-shadow {
  margin: auto;
  align-items: center;
  p {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 13px;
    margin: 0;
    padding-bottom: 12px;
    text-transform: uppercase;
  }
}
.elu-btn:hover {
  transform: scale(1.05);
}
// End scss button Drop and Nest

// Start scss button Drop
.drop-btn {
  background-image: url("../../assets//images/gp_btn_drop.png");
  background-size: cover;
  cursor: pointer;
  color: #153446;
}
// End scss button Drop
// Start scss button Nest
.eluNest-btn {
  position: absolute;
  z-index: 2;
  width: 100%;
  border: none;
  outline: none;
  left: 0;
  bottom: 160%;
}
.nest-btn {
  background-image: url("../../assets//images/gp_btn_nest.png");
  background-size: cover;
  cursor: pointer;
  color: #403100;
}
// End scss button Nest
.island1,
.island2,
.island3 {
  margin: auto;
  width: 30%;
  height: 100%;
  .isLand-img {
    width: 100%;
  }
}

.island1 .isLand-img:nth-child(1) {
  width: 50%;
  margin-left: 52%;
}

.island3 .isLand-img:nth-child(1) {
  width: 60%;
  margin-right: 30%;
}

.island2 .isLand-img:nth-child(1) {
  width: 50%;
  margin-left: 25%;
}

.island1 .isLand-img:nth-child(2),
.island3 .isLand-img:nth-child(2) {
  width: 70%;
  margin-bottom: 15%;
  margin-left: 15%;
}

.mr-top {
  margin-top: -35%;
}
.mr-bottom {
  margin-bottom: 15%;
}
.zoom.active {
  animation: zoom 1s ease;
  animation-iteration-count: 1;
}
@keyframes zoom {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0.9);
  }
}
@keyframes onBoarding {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
