.beach img {
  width: 100%;
}
.ocean {
  position: relative;
  width: 100vw;
  margin-top: -1%;
  .boulder {
    position: absolute;
    top: -90%;
    left: 0;
    width: 40%;
    .boulder-element {
      position: relative;
    }
    .house {
      position: relative;
      width: 40%;
      margin-left: 3%;
      z-index: 0;
      .pinwheel {
        position: absolute;
        right: -12%;
        top: 15%;
        width: 40%;
        z-index: -1;
        animation: pinwheel 5s linear infinite;
      }
    }
    .boulder-img {
      position: absolute;
      width: 100%;
      left: 0;
      top: 15%;
    }
  }
}
.oceanIsland {
  position: absolute;
  top: -6%;
  right: 0;
  width: 20%;
  .oceanIsland-element {
    position: relative;
    .tree {
      position: absolute;
      left: -5%;
      top: -35%;
      z-index: 1;
      width: 105%;
      .tree-accessory {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .oceanIsland-grass {
          position: absolute;
          width: 55%;
          bottom: 18%;
          left: 10%;
          z-index: 3;
        }
      }
    }
  }
}
//land
.land {
  position: relative;
  margin-top: -10%;
  .nest_onBoarding {
    position: absolute;
    left: 0;
    top: -100%;
    width: 100vw;
    height: 100%;
    z-index: 99;
    animation: zoomIn;
    animation-duration: 1.5s;
    display: flex;
    align-items: center;
    .nest-frame {
      background: url("https://storage.googleapis.com/laboon-img-storage/play-elu/gameplay/boarding-img/Popupback.png")
        no-repeat center / contain;
      position: relative;
      max-width: 1272px;
      width: 50vw;
      margin: auto;
      max-height: 768px;
      height: 30vw;
      .onBoarding-btn_close {
        position: absolute;
        top: -2%;
        right: 2%;
        margin: 0;
        max-width: 74px;
        width: 8%;
      }
      .onBoarding-title {
        position: absolute;
        left: 20%;
        top: -2%;
        width: 60%;
        margin: auto;
      }
    }
  }
  .bone {
    width: 35%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .fruitBasket-img {
    width: 22%;
    position: absolute;
    bottom: 0;
    left: 16%;
  }
  .core {
    position: absolute;
    top: 20%;
    width: 70%;
    margin: auto 15%;
    .gate {
      position: relative;
      width: 70%;
      margin: 0 15%;
      .effigy-img {
        position: absolute;
        width: 90%;
        margin: 0 5%;
        bottom: 90%;
        left: 0;
      }
      .lightColumn-img {
        position: absolute;
        width: 80%;
        margin: 0 10%;
        bottom: 50%;
        left: 0;
      }

      .eluNestBtn {
        position: absolute;
        width: 100%;
        border: none;
        outline: none;
        left: 0;
        bottom: 160%;
        transform: scale(0.9);
        .nest-btn {
          position: relative;
          max-width: 250px;
          min-width: 80px;
          min-height: 24px;
          max-height: 75px;
          width: 15vw;
          height: 4.5vw;
          background-color: #fec02a;
          border-radius: 6px;
          font-weight: bolder;
          color: #fff;
          display: flex;
          justify-content: center;
          margin: auto;
          cursor: pointer;
          // transform: scale(0.9);
          align-items: center;
          h2 {
            -webkit-text-stroke: 1.2px black;
            margin: 0;
            font-size: 22px;
            cursor: pointer;
          }
          .btn-shadow {
            position: absolute;
            bottom: 2%;
            width: 96%;
            height: 50%;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            background-color: rgba($color: #000000, $alpha: 0.15);
            cursor: pointer;
          }
        }
      }
      .eluNestBtn:hover {
        transform: scale(1);
      }
    }
  }
  .character {
    position: absolute;
    top: 50%;
    width: 60%;
    margin: auto 20%;
    display: flex;
    justify-content: space-between;
    .character-elu {
      position: relative;
      width: 20%;
      .character-eluLight,
      .eluNestBtn-eluWater {
        position: absolute;
        bottom: 0;
      }
      .eluNestBtn-eluFire {
        position: absolute;
        margin-top: -35%;
        top: 0;
      }
    }
  }
}
.opacity.active {
  animation: opacity 2s ease;
}
@keyframes opacity {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pinwheel {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
