.gameplay-body {
  overflow: hidden;
  width: 100vw;
}
.sky-center {
  max-width: 1280px;
  margin: auto;
  width: 90%;
  .island {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.sky-center_onBoarding {
  width: 100vw;
  animation: onBoarding 1s ease forwards;
  animation-duration: 2s;
}

.eluDrop-btn {
  position: relative;
  max-width: 250px;
  min-width: 80px;
  min-height: 24px;
  max-height: 75px;
  width: 15vw;
  height: 4.5vw;
  background-color: #1d90cd;
  border-radius: 6px;
  font-weight: bolder;
  color: #fff;
  display: flex;
  justify-content: center;
  margin: auto;
  cursor: pointer;
  transform: scale(0.9);
  align-items: center;
  h2 {
    -webkit-text-stroke: 1.2px black;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
  }
  .btn-shadow {
    position: absolute;
    bottom: 2%;
    width: 96%;
    height: 50%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: rgba($color: #000000, $alpha: 0.2);
    cursor: pointer;
  }
}

.eluDrop-btn:hover {
  transform: scale(1);
}

.island1,
.island2,
.island3 {
  margin: auto;
  width: 30%;
  height: 100%;
  .isLand-img {
    width: 100%;
  }
}

.island1 .isLand-img:nth-child(1) {
  width: 50%;
  margin-left: 52%;
}

.island3 .isLand-img:nth-child(1) {
  width: 60%;
  margin-right: 30%;
}

.island2 .isLand-img:nth-child(1) {
  width: 50%;
  margin-left: 25%;
}

.island1 .isLand-img:nth-child(2),
.island3 .isLand-img:nth-child(2) {
  width: 70%;
  margin-bottom: 15%;
  margin-left: 15%;
}

.mr-bottom {
  padding-bottom: 10%;
  margin-top: -19%;
}
.zoom.active {
  animation: zoom 2s ease;
}
@keyframes zoom {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(0.9);
  }
}
@keyframes onBoarding {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
