a {
  text-decoration: none;
  color: #fff;
}
html {
  scroll-behavior: smooth;
}
.gameplay-body {
  overflow: hidden;
  width: 100vw;
  background: linear-gradient(#214c96, #45cee9);
}
.sky {
  background: url("https://storage.googleapis.com/laboon-img-storage/play-elu/gameplay/skyBackground.webp")
    no-repeat center / cover;
  position: relative;
}
.sky-center {
  max-width: 1280px;
  position: relative;
  z-index: 1;
  margin: auto;
  width: 90%;
  .island {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

// Start scss button Drop and Nest
.elu-btn {
  max-width: 230px;
  min-width: 80px;
  min-height: 24px;
  max-height: 69px;
  width: 15vw;
  height: 4.5vw;
  border-radius: 12px;
  font-weight: bolder;
  color: #fff;
  margin: auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: scale(0.9);
  text-align: center;
  align-items: center;
  h2 {
    -webkit-text-stroke: 1.2px black;
    margin: 0;
    font-size: 23px;
    height: 50%;
    cursor: pointer;
    // margin-top: 2px;
    padding-top: 2%;
    letter-spacing: 1px;
  }
}
.btn-shadow {
  width: 96%;
  height: 48%;
  margin: auto;
  margin-bottom: 2%;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: rgba($color: #000000, $alpha: 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  p {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #fff;
    -webkit-text-stroke: 0.6px black;
    font-size: 18px;
    margin: 0;
    cursor: pointer;
  }
}
.elu-btn:hover {
  transform: scale(1);
}
// End scss button Drop and Nest

// Start scss button Drop
.drop-btn {
  background-color: #1d90cd;
}
// End scss button Drop
// Start scss button Nest
.eluNest-btn {
  position: absolute;
  z-index: 2;
  width: 100%;
  border: none;
  outline: none;
  left: 0;
  bottom: 160%;
}
.nest-btn {
  background-color: #fec02a;
}
// End scss button Nest
.island1,
.island2,
.island3 {
  margin: auto;
  width: 30%;
  height: 100%;
  .isLand-img {
    width: 100%;
  }
}

.island1 .isLand-img:nth-child(1) {
  width: 50%;
  margin-left: 52%;
}

.island3 .isLand-img:nth-child(1) {
  width: 60%;
  margin-right: 30%;
}

.island2 .isLand-img:nth-child(1) {
  width: 50%;
  margin-left: 25%;
}

.island1 .isLand-img:nth-child(2),
.island3 .isLand-img:nth-child(2) {
  width: 70%;
  margin-bottom: 15%;
  margin-left: 15%;
}

.mr-bottom {
  padding-bottom: 10%;
  margin-top: -19%;
}
.zoom.active {
  animation: zoom 1s ease;
  animation-iteration-count: 1;
}
@keyframes zoom {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0.9);
  }
}
@keyframes onBoarding {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
