.zoom.active {
  animation: zoom 2s ease;
}
.opacity {
  opacity: 0.5;
  transition: all 2s ease;
}
.opacity.active {
  opacity: 1;
}
@keyframes zoom {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(0.9);
  }
}

.gameplay-body {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
}

.sky {
  background: url("https://storage.googleapis.com/laboon-img-storage/play-elu/gameplay/skyBackground.webp")
    no-repeat center / cover;
  position: relative;
  .sky-top {
    max-width: 1280px;
    width: 80vw;
    margin: auto;
    .gameplay-selection {
      max-height: 600px;
      height: 55vh;
      display: flex;
      align-items: center;
      .rune {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
        .gameplay__rune-img {
          position: absolute;
          z-index: 1;
          width: 100%;
        }
        .gameplay__boonmoon-img {
          position: absolute;
          width: 40%;
          bottom: 45%;
          z-index: 0;
        }
      }
    }
    .gameplay-logo {
      width: 35%;
      margin: auto;
      margin-bottom: 100px;
      .gameplay__logo-img {
        width: 100%;
      }
    }
    // .gameplay-cloud {
    //   position: absolute;
    //   top: 10%;
    //   z-index: 0;
    //   display: flex;
    //   justify-content: space-between;
    //   .gameplay-cloud1-img {
    //     width: 20%;
    //   }
    //   .gameplay-cloud2-img {
    //     width: 20%;
    //   }
    // }
  }
}

.gameplay__selection-img {
  width: 100%;
  transform: scale(0.9);
  cursor: pointer;
}

.gameplay__selection-img:hover {
  transform: scale(1);
}

.sky-center {
  max-width: 1280px;
  margin: auto;
  width: 90%;
  .island {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.sky-center_onBoarding {
  width: 100vw;
  height: 20vh;
  // background: #177db8;
  animation: bounceIn;
  animation-duration: 0.5s;
}

.eluDrop-btn {
  width: 15%;
  display: flex;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}

.eluDrop-btn:hover {
  transform: scale(1);
}

.island1,
.island2,
.island3 {
  margin: auto;
  width: 30%;
  height: 100%;
  .isLand-img {
    width: 100%;
  }
}

.island1 .isLand-img:nth-child(1) {
  width: 50%;
  margin-left: 52%;
}

.island3 .isLand-img:nth-child(1) {
  width: 60%;
  margin-right: 30%;
}

.island2 .isLand-img:nth-child(1) {
  width: 50%;
  margin-left: 25%;
}

.island1 .isLand-img:nth-child(2),
.island3 .isLand-img:nth-child(2) {
  width: 70%;
  margin-bottom: 15%;
  margin-left: 15%;
}

.mr-bottom {
  padding-bottom: 10%;
  margin-top: -19%;
}
