.sky-center_onBoarding {
  position: relative;
  width: 100vw;
  animation: onBoarding 4s ease forwards;
  animation-duration: 1s;
  background: url("https://storage.googleapis.com/laboon-img-storage/play-elu/gameplay/popup_drop/background_drop2.webp")
    no-repeat center / cover;
  background-size: 100%;
}
.onBoarding__title {
  position: absolute;
  width: 80%;
  left: 10%;
  top: -2%;
  margin: auto;
}
.onBoarding__title-content {
  position: relative;
  width: 30%;
  margin: auto;
  img {
    width: 100%;
  }
}
.onBoarding__title-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    margin-top: 5%;
    color: #fff;
    font-size: 42px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.5);
    -webkit-text-stroke: 2.2px black;
  }
}
.onBoarding-frame {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 4%;
}
.onBoarding {
  display: flex;
  justify-content: space-between;
}

.onBoarding__element {
  display: flex;
  width: 45%;
  flex-direction: column;
  margin: 0 0 50px 0;
}
.onBoarding__element-button {
  width: 4%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  img {
    margin-top: 100%;
    width: 100%;
  }
}
.onBoarding__versus {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 8px 0;
}
.onBoarding__versus-tip {
  width: 22.5%;
  position: relative;
  text-align: center;
  img {
    width: 100%;
  }
}
.onBoarding__versus-content {
  position: relative;
  width: 87.5%;
  background: rgba(0, 0, 0, 0.25);
  border: 3px solid #00aaff;
  border-radius: 4px;
  margin: auto;
}
.onBoarding__versus-text {
  width: 46%;
  text-align: center;
  font-size: 66px;
  margin: 30px 40% 30px 14%;
  color: #fff;
  text-transform: uppercase;
  -webkit-text-stroke: 2.4px black;
  text-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.5);
}
.image-comingsoon {
  position: absolute;
  right: 5%;
  bottom: -10%;
  height: 170%;
  img {
    height: 100%;
  }
}
.onBoarding__element-tip {
  width: 50%;
  position: relative;
  text-align: center;
  img {
    width: 100%;
  }
}
.tip-title {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;

  h4 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    -webkit-text-stroke: 1.8px black;
  }
}
.tip-right {
  margin-left: 50%;
}
.onBoarding__element-content {
  width: 86%;
  .onBoarding__element-img {
    border-radius: 4px;
    width: 100%;
    border: 3px solid #00aaff;
  }
  .no-border {
    border: 0px;
  }
}
.content-left {
  margin-left: 14%;
}
.content-right {
  margin-right: 14%;
}
.content-final {
  margin-top: 12.866%;
}
.onBoarding__btn-close {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 2% 0;
  cursor: pointer;
  img {
    width: 5%;
    cursor: pointer;
  }
}

// Start board-type scss
.board_type {
  display: flex;
  max-width: 400px;
  width: 50%;
  margin: auto;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
:root {
  --withBoarType: 32%;
}
.board_type-element {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  width: var(--withBoarType);
  img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.board_type-element.active {
  .square,
  .circle,
  .triangle {
    background: #7f73ff;
  }
}
.board_type-content {
  width: 80%;
  // height: 32px;
  margin-left: 12%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  span {
    font-size: 21px;
    margin: auto;
    color: #fff;
    -webkit-text-stroke: 1px black;
  }
}
.square {
  width: 12px;
  height: 12px;
  background: #ffe552;
}
.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffe552;
}
.triangle {
  width: 0;
  height: 0;
  border-bottom: 12px solid #ffe552;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
// End board-type scss
