.sky-center {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 600px;
}

.sky-center__islands {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}



