.skyBottom {
  // background: url("https://storage.googleapis.com/laboon-img-storage/play-elu/gameplay/background_bottom.jpg")
  //   no-repeat center / cover;
  position: relative;

  .boat__animation1 {
    position: absolute;
    z-index: 0;
    width: 8%;
    animation: boat 65s ease infinite;
  }
  .boat__animation2 {
    position: absolute;
    z-index: 0;
    width: 5%;
    transform: rotateY(180deg);
    animation: boat2 75s ease infinite;
  }
  .sailboat {
    padding-top: 10%;
    display: flex;
    justify-content: space-between;
    .sailboat-left {
      margin-left: 5%;
      width: 40%;
      margin-bottom: 15%;
      animation: wave-ship 2s linear alternate infinite;
    }
    .sailboat-right {
      width: 30%;
      margin-right: -1%;
      margin-top: 25%;
      animation: wave-ship 2s linear alternate infinite;
    }
  }
}
.skyBottom img {
  width: 100%;
}

@keyframes boat2 {
  0% {
    right: -7%;
  }

  100% {
    right: 100vw;
  }
}
@keyframes boat {
  0% {
    left: -7%;
  }

  100% {
    left: 100vw;
  }
}
@keyframes wave-ship {
  0% {
    transform: translateY(0px) rotate(1deg);
  }
  100% {
    transform: translateY(-2px) rotate(-1deg);
  }
}
