.sky-top {
    max-width: 1280px;
    width: 80vw;
    margin: auto;
    .gameplay-selection {
      max-height: 600px;
      height: 55vh;
      display: flex;
      align-items: center;
      .rune {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
        .gameplay__rune-img {
          position: absolute;
          z-index: 1;
          width: 100%;
        }
        .gameplay__boonmoon-img {
          position: absolute;
          width: 40%;
          bottom: 45%;
          z-index: 0;
        }
      }
    }
    .gameplay-logo {
      width: 35%;
      margin: auto;
      margin-bottom: 100px;
      .gameplay__logo-img {
        width: 100%;
      }
    }
    // .gameplay-cloud {
    //   position: absolute;
    //   top: 10%;
    //   z-index: 0;
    //   display: flex;
    //   justify-content: space-between;
    //   .gameplay-cloud1-img {
    //     width: 20%;
    //   }
    //   .gameplay-cloud2-img {
    //     width: 20%;
    //   }
    // }
  }

.gameplay__selection-img {
  width: 100%;
  transform: scale(0.9);
  cursor: pointer;
}

.gameplay__selection-img:hover {
  transform: scale(1);
}
