// @import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

a {
  text-decoration: none;
  color: #efa059;
  cursor: pointer;
}
.sale {
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background: url("https://storage.googleapis.com/laboon-img-storage/play-elu/seed-sale/Background.webp") no-repeat
    center / cover;
  overflow: hidden;
}

.header-sale {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  border-bottom: 2px solid #fff;
  margin-right: 0px;
  margin-left: 0px;
}
.link-home {
  max-width: 50px;
  width: 10%;
  margin: 10px;
  cursor: pointer;
}
.home-icon {
  width: 100%;
  cursor: pointer;
}
.title {
  flex: 1;
  display: flex;
  justify-content: center;
}
.title-header {
  font-family: var(--font_black);
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.title-header-1,
.title-header-2 {
  display: flex;
}
.seed {
  margin: 0 15px -7px 15px;
  font-size: 46px;
  text-transform: uppercase;
  color: #3ea0d3;
}
.boon-text {
  margin: 0 15px -3px 15px;
  font-size: 34px;
  color: #efa059;
  text-transform: uppercase;
  display: flex;
  align-items: flex-end;
}
.header-text {
  display: flex;
  align-items: flex-end;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.gameplay-btn {
  max-width: 135px;
  min-width: 70px;
  width: 12%;
  background: url("https://storage.googleapis.com/laboon-img-storage/play-elu/seed-sale/button/button_gameplays.webp")
    no-repeat center / contain;
  padding: 10px 0;
  margin-right: 2%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.gameplay-btn span {
  font-family: var(--font_content);
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 21px;
  color: #ffff;
  cursor: pointer;
}
/* Sale body */
.sale-body {
  max-width: 1920px;
  max-height: 1113px;
  width: 96%;
  margin: auto;
  flex: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.logo {
  min-width: 220px;
  width: 30%;
  display: flex;
  align-items: center;
}

.logo-frame {
  width: 100%;
  margin: auto;
}

.elu-logo {
  width: 100%;
}

.boon-coin {
  width: 70%;
  margin-left: 12%;
  margin-top: -10%;
}

/* Begin body-right */
.body-right,
.white-list__body--right {
  position: relative;
  min-width: 300px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body-right__title,
.white-list__body--right__title {
  position: absolute;
  top: -50px;
  font-size: 32px;
  color: #ffff;
  white-space: nowrap;
  font-family: var(--font_black);
  letter-spacing: 2px;
  -webkit-text-stroke: 0.5px black;
}

.login {
  min-width: 300px;
  max-width: 450px;
  width: 100%;
  height: 108px;
  margin: 0 auto;
  background: url("https://storage.googleapis.com/laboon-img-storage/play-elu/seed-sale/button/button_modal.webp")
    no-repeat center / contain;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.login-frame {
  display: flex;
  width: 90%;
  height: 100%;
  margin: auto;
  margin-left: 10%;
  align-items: center;
  justify-content: left;
}

.login-title {
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-family: var(--font_content);
  margin-bottom: 0;
}

.login-icon {
  display: flex;
  justify-content: center;
  width: 40px;
  margin-right: 4%;
}

.login-icon img {
  width: 100%;
}

.white-list__login {
  color: #fff;
  font-size: 26px;
  font-family: var(--font_content);
  margin-bottom: 0;
}

/* CSS CONTRIBUTE */
.contribute {
  position: relative;
  min-width: 300px;
  width: 90%;
  background: rgb(24 23 23 / 60%);
  border: 4px solid #205198;
  border-radius: 40px;
  display: flex;
  align-items: center;
  font-family: var(--font_content);
  font-weight: normal;
}

.contribute--shadow {
  position: absolute;
  z-index: 0;
  top: 2%;
  left: 2%;
  width: 16px;
  height: 24px;
  background: rgb(135 136 136 / 30%);
  transform: rotateZ(45deg);
  border-radius: 50%;
}

.contribute-frame {
  width: calc(100% - 60px);
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contribute-sec {
  margin-bottom: 20px;
}

.contribute-title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  justify-content: space-between;
}

.contribute-title p {
  color: #fdcd2f;
  font-size: 18px;
}

.contribute-title .wallet-name {
  color: #e8821e;
  font-size: 14px;
}

.contribute-title .avax-quantity {
  color: #e84142;
  font-size: 14px;
}

.contribute-title .boon-quantity {
  color: #fed34e;
  font-size: 14px;
}

.input {
  position: relative;
}

.input {
  width: 100%;
  color: #ffff;
  background: rgb(24 23 23 / 60%);
  border-radius: 10px;
  border: 1px solid #ffff;

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b6b6b6;
    opacity: 1; /* Firefox */
  }

  :input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b6b6b6;
  }

  ::input-placeholder {
    /* Microsoft Edge */
    color: #b6b6b6;
  }
}

.input-text {
  width: calc(100% - 30px);
  width: calc(100% - 30px);
  width: calc(100% - 30px);
  font-size: 16px;
  padding: 14px;
  color: #b6b6b6;
  background: rgb(24 23 23 / 60%);
  border-radius: 10px;
  outline: none;
  border: none;
}

.boon-quantity__input {
  color: #ffff;
}

.input-img {
  position: absolute;
  max-width: 30px;
  width: 10%;
  top: 25%;
  bottom: 0;
  right: 10px;
}

.contribute-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contribute-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 240px;
  max-height: 60px;
  background: url("https://storage.googleapis.com/laboon-img-storage/play-elu/seed-sale/button/button_modal.webp")
    no-repeat center / contain;
  width: 30%;
  font-size: 23px;
  padding: 17px;
  border-radius: 14px;
  color: #ffff;
  cursor: pointer;
  font-weight: bold;
}

.contribute-btn span {
  cursor: pointer;
}

.link-playelu {
  color: #ffff;
  font-size: 16px;
}

.white-list__title {
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 32px;
  color: #ffff;
  white-space: nowrap;
  -webkit-text-stroke: 0.5px black;
  font-family: var(--font_bold);
}

.white-list__subtitle {
  font-size: 20px;
}

.white-list__strategy {
  font-size: 20px;
  color: #fed34e;
}

.white-list__code {
  width: 88%;
  font-family: var(--font_content);
  font-weight: 200;
  margin-top: 20px;
}

/* CSS NOTFOUND */
.notfound {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.notfound__img {
  width: 104px;
  height: auto;
}

.notfound__text {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  text-align: center;
}

.notfound__title {
  font-family: var(--font_content);
  font-weight: 400;
  color: #fff;
  margin-bottom: 10px;
}

.notfound__sub {
  font-family: var(--font_content);
  font-weight: 600;
  color: rgb(250 244 244 / 60%);
}
