.white-list_succceed__frame {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.white-list__succeed {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.white-list__succeed__img {
    width: 300px;
    height: auto;
    margin-bottom: 50px;
}

.modal-succeed__body {
    flex-direction: column;
}

.white-list__succeed__content {
    display: flex;
    flex-direction: column;
    width: 100% !important;
}

.white-list__succeed__heading {
    font-size: 24px !important;
}

.white-list__succeed__sub {
    font-size: 22px;
    text-align: center;
}
