@media screen and (max-width: 739.9px) {
  .sale {
    height: 100vh;
    background: url("https://storage.googleapis.com/laboon-img-storage/play-elu/seed-sale/Background-mobile.webp")
      no-repeat center / cover;
  }

  .header-sale {
    height: 50px;
    border-bottom: 1px solid #fff;
  }

  .link-home {
    width: 6%;
    margin: 10px;
  }

  .home-icon {
    width: 100%;
  }

  .boon-text {
    margin: 0 6px;
    margin-bottom: -2px;
    font-size: 14px;
  }

  .seed {
    margin: 0px 6px;
    margin-bottom: -3px;
    font-size: 18px;
  }

  .header-text {
    font-size: 10px;
  }

  .gameplay-btn {
    padding: 6px 0;
    margin-right: 8px;
    border-radius: 6px;
  }

  .gameplay-btn span {
    font-size: 12px;
  }

  /* Sale body */
  .sale-body {
    justify-content: center;
  }

  .logo {
    display: none;
  }

  .logo-frame {
    width: 80%;
  }

  .boon-coin {
    margin-top: -16%;
  }

  /* Begin body-right */
  .body-right__title,
  .white-list__body--right__title {
    font-size: 26px;
    margin-bottom: 10px;
  }

  .login {
    margin: 0 auto;
    width: 58%;
    height: 75px;
    border-radius: 12px;
  }
  .login-title {
    font-size: 21px;
  }

  // CSS NOTFOUND MODAL
  .notfound__title {
    font-size: 24px;
  }

  .notfound__sub {
    font-size: 16px;
  }
  .notfound__btn {
    width: 300px;
    height: 70px !important;
  }

  .notfound__btn-title {
    font-size: 16px;
  }

  /* CSS CONTRIBUTE */
  .contribute {
    max-width: 400px;
    max-height: 310px;
    width: 100%;
    height: calc(100vh - 100px);
    border-radius: 30px;
    border: 3px solid #205198;
  }
  .contribute--shadow {
    position: absolute;
    z-index: 0;
    top: 2%;
    left: 4%;
    width: 12px;
    height: 20px;
    background: rgba(135, 136, 136, 0.3);
    transform: rotateZ(45deg);
    border-radius: 50%;
  }
  .contribute-frame {
    width: calc(100% - 20px);
    margin: 10px auto;
  }
  .contribute-sec {
    margin-bottom: 5px;
  }
  .contribute-title {
    margin-bottom: 5px;
  }
  .contribute-title p {
    font-size: 14px;
  }
  .contribute-title .wallet-name,
  .contribute-title .avax-quantity,
  .contribute-title .boon-quantity {
    font-size: 11px;
  }
  .input-text {
    font-size: 11px;
    padding: 10px;
  }
  .input-img {
    width: 6.4%;
  }
  .contribute-btn {
    margin-top: 10px;
    width: 50%;
    font-size: 15px;
    padding: 10px 0;
    border-radius: 4px;
  }

  .link-playelu {
    font-size: 9px;
  }

  .white-list__title {
    top: -40px;
    font-size: 20px;
    -webkit-text-stroke: 0.5px black;
  }

  .white-list__subtitle {
    font-size: 15px;
  }
  .white-list__strategy {
    font-size: 15px;
    color: #fed34e;
  }

  .notfound {
    width: 85%;
    height: 80%;
    margin: auto;
  }

  .notfound .login {
    min-width: 250px;
  }

  // Css Claim
  //* Const define
  $font_content: "cookieRun_Regular";
  $font_black: "cookieRun_black";
  $font_bold: "cookieRun_bold";

  .claim-body {
    width: 96%;
  }

  .claim-right {
    width: 100%;
    height: 85vh;
    border: 2px solid #205198;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
  .claim-right__frame {
    width: 90%;
    margin: 5px auto;
  }
  .claim--shadow {
    top: 1%;
    left: 2%;
    width: 12px;
    height: 18px;
  }
  .claim-right__header--title {
    font-size: 20px;
  }
  .claim-right__header--title img {
    width: 24px;
    height: 22.5px;
  }
  .claim-right__header--title span {
    margin: 0 15px;
  }

  .claim-right__header--sub {
    font-size: 16px;
  }

  .claim-right__content__element {
    width: 100%;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
  }
  .claim-information {
    width: 47%;
    display: flex;
    flex-direction: column;
  }
  .address-wallet__input,
  .claim-information__input {
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-size: 12px;
  }
  .address-wallet__heading,
  .claim-information__heading {
    font-size: 10px;
    margin-bottom: 2px;
  }
  .address-wallet__input input,
  .claim-information__input input {
    padding: 4px 0;
  }
  .address-wallet__input input {
    width: calc(100% - 60px);
  }
  .claim-information__input input {
    width: calc(100% - 20px);
    margin-left: 15px;
  }
  .address-wallet__input-img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
  }

  .claim-right__content__btn {
    width: 100%;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .claim-right__btn {
    width: 50%;
    height: 100px;
    background: url("https://storage.googleapis.com/laboon-img-storage/play-elu/seed-sale/button/button_modal.webp")
      no-repeat center / contain;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color: #ffff;
  }
}
