@media screen and (max-width: 739.9px) {
    .sale {
        height: 100vh;
        background: url("https://storage.googleapis.com/laboon-img-storage/play-elu/seed-sale/Background-mobile.webp")
            no-repeat center / cover;
    }

    .header-sale {
        height: 50px;
        border-bottom: 1px solid #fff;
    }

    .link-home {
        width: 6%;
        margin: 10px;
    }

    .home-icon {
        width: 100%;
    }

    .boon-text {
        margin: 0 6px;
        margin-bottom: -2px;
        font-size: 14px;
    }

    .seed {
        margin: 0px 6px;
        margin-bottom: -3px;
        font-size: 18px;
    }

    .header-text {
        font-size: 10px;
    }

    .gameplay-btn {
        padding: 6px 0;
        margin-right: 8px;
        border-radius: 6px;
    }

    .gameplay-btn span {
        font-size: 12px;
    }

    /* Sale body */
    .sale-body {
        justify-content: center;
    }

    .logo {
        height: calc((100vh - 50px) / 2);
    }

    .logo-frame {
        width: 80%;
    }

    .boon-coin {
        margin-top: -16%;
    }

    /* Begin body-right */
    .body-right__title,
    .white-list__body--right__title {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .login {
        margin: 0 auto;
        width: 58%;
        height: 75px;
        border-radius: 12px;
    }
    .login-title {
        font-size: 21px;
    }

    // CSS NOTFOUND MODAL
    .notfound__title {
        font-size: 24px;
    }

    .notfound__sub {
        font-size: 16px;
    }
    .notfound__btn {
        width: 300px;
        height: 70px !important;
    }

    .notfound__btn-title {
        font-size: 16px;
    }

    /* CSS CONTRIBUTE */
    .contribute {
        max-width: 400px;
        max-height: 300px;
        width: 100%;
        height: calc((100vh - 50px) / 2);
        border-radius: 30px;
        border: 3px solid #205198;
    }
    .contribute--shadow {
        position: absolute;
        z-index: 0;
        top: 2%;
        left: 4%;
        width: 12px;
        height: 20px;
        background: rgba(135, 136, 136, 0.3);
        transform: rotateZ(45deg);
        border-radius: 50%;
    }
    .contribute-frame {
        width: calc(100% - 20px);
        margin: 10px auto;
    }
    .contribute-sec {
        margin-bottom: 5px;
    }
    .contribute-title {
        margin-bottom: 5px;
    }
    .contribute-title p {
        font-size: 14px;
    }
    .contribute-title .wallet-name,
    .contribute-title .avax-quantity,
    .contribute-title .boon-quantity {
        font-size: 11px;
    }
    .input-text {
        font-size: 11px;
        padding: 10px;
    }
    .input-img {
        width: 6.4%;
    }
    .contribute-btn {
        width: 28%;
        font-size: 12px;
        padding: 10px 50px;
        border-radius: 8px;
    }

    .link-playelu {
        font-size: 9px;
    }

    .white-list__title {
        top: -40px;
        font-size: 20px;
        -webkit-text-stroke: 1.5px black;
    }

    .notfound {
        width: 85%;
        height: 80%;
        margin: auto;
    }

    .notfound .login {
        min-width: 250px;
    }
}
