.background-bottom-cloud {
    position: relative;
    height: 20vh;

    @keyframes cloud_moving {
        0% {
            margin-left: -10%;
        }

        100% {
            margin-left: 110%
        }
    }


    @mixin calcAnimationOfCloudResize($cloudSize, $order) {
        @if $order%2==0 {
            @keyframes cloud_resize {
                0% {
                    margin-top:#{$cloudSize}px;
                }

                25% {
                    margin-top: 0;
                }

                50% {
                    margin-top:#{$cloudSize}px;
                }

                75% {
                    margin-top: 0;
                }

                100% {
                    margin-top:#{$cloudSize}px;
                }
            }
        }

        @else {
            @keyframes cloud_resize {
                0% {
                    margin-top: 0;

                }

                25% {
                    margin-top:#{$cloudSize}px;
                }

                50% {
                    margin-top: 0;
                }

                75% {
                    margin-top:#{$cloudSize}px;
                }

                100% {
                    margin-top: 0;
                }
            }
        }
    }


    $i: 1;

    //$sizeCloud: 0;
    $cloudPerMode:3; //Chắc chắn phải là số lẻ
    $cloudColor:white;

    @while $i < 100 {
        // Chọn chế độ
        $ranMode: random(100)+1;
        $mode: "dud"; //down up down

        @if $ranMode%2==0 {
            $mode: "udu"; // up down up
        }

        $half:round($cloudPerMode/2);

        @if true {
            $z: 0;

            @for $j from $i through $i+$half {
                //Duyệt tới 1 nửa thì trừ ngược
                $sizeCloud: 0;

                $cloudDelayAppear: $j *0.3;

                @if $i+$half==$j {
                    $sizeCloud: random(20) + 40;

                    //@include calcAnimationOfCloudResize($sizeCloud, 1);
                    @keyframes cloud_resize {
                        #{ 0+'%'} {
                            margin-top: 0;
                        }
                        #{ random(10)+15 +'%'} {
                            margin-top:10px;
                        }

                        #{ random(15)+35 +'%'} {
                            margin-top: 0;
                        }

                        #{ random(15)+60 +'%'} {
                            margin-top:10px;
                        }

                        #{ random(20)+80 +'%'} {
                            margin-top: 0;
                        }
                    }

                    div:nth-child(#{$j}) {
                        background: #{$cloudColor};
                        width: #{$sizeCloud}px;
                        height: #{$sizeCloud}px;
                        border-radius: 50%;
                        position: absolute;
                        animation: cloud_moving 20s linear #{$cloudDelayAppear}s infinite,
                        cloud_resize 20s linear infinite;
                    }
                }

                @else {
                    $sizeCloudA: random(20) +35;

                    @keyframes cloud_resizeA {
                        0% {
                            margin-top:10px;
                        }

                        25% {
                            margin-top: 0;
                        }

                        50% {
                            margin-top:10px;
                        }

                        75% {
                            margin-top: 0;
                        }

                        100% {
                            margin-top:10px;
                        }
                    }

                    //@include calcAnimationOfCloudResize($sizeCloudA, 2);
                    div:nth-child(#{$j}) {
                        background: #{$cloudColor};
                        border-radius: 50%;
                        width: #{$sizeCloudA}px;
                        height: #{$sizeCloudA}px;
                        position: absolute;
                        animation: cloud_moving 20s linear #{$cloudDelayAppear}s infinite,
                        cloud_resizeA 20s linear infinite;
                    }

                    $sizeCloudB: random(20)+35;

                    //@include calcAnimationOfCloudResize($sizeCloudB, 2);
                    @keyframes cloud_resizeB {
                        0% {
                            margin-top:10px;
                        }

                        25% {
                            margin-top: 0;
                        }

                        50% {
                            margin-top:10px;
                        }

                        75% {
                            margin-top: 0;
                        }

                        100% {
                            margin-top:10px;
                        }
                    }

                    div:nth-child(#{ $j+2}) {
                        background: #{$cloudColor};
                        border-radius: 50%;
                        width: #{$sizeCloudB}px;
                        height: #{$sizeCloudB}px;
                        position: absolute;
                        animation: cloud_moving 20s linear #{$cloudDelayAppear}s infinite,
                        cloud_resizeB 20s linear infinite;
                    }
                }

                $z: $z+1;
            }
        }

        //Tăng i
        $i: $i+3;
    }
}