// Mini Mobile
@media screen and (max-width: 576px) {
}

// Mobile
@media screen and (max-width: 740px) {
  .header {
    height: 50px;
  }
  .playelu-body {
    top: 0;
    height: 100vh;
  }
  .sound {
    top: 70px;
    width: 30px;
    height: 30px;
  }
  .home-icon__link {
    width: 50px;
  }
  .home-icon__img {
    height: 30px;
  }
  .launch-header {
    top: 55px !important;
    left: 40px !important;
    width: calc(100vw - 50px) !important;
  }
  .launch-header__content-coin {
    width: 15px !important;
    margin: 3px 5px 0 5px !important;
  }
  .market span {
    font-size: 10px !important;
  }

  .discord {
    right: -96px;
    transform: scale(0.23) translateY(-200vh);
    .discord-img {
      display: none;
    }
    .mobile__discord-img {
      display: block;
    }
    bottom: -240px;
  }
  .modal-thankyou > .modal-content,
  .modal-comingsoon > .modal-content {
    width: 90vw;
    height: 55vw;
    border-radius: 18px;
    .modal-container {
      border-radius: 18px;
      flex-direction: column;
      border: 5px solid #fff;
      border: 2px solid #fff;
      img {
        width: 60%;
        margin: 0 auto;
      }
      h1 {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 20px;
      }
    }
  }
  .playelu__link-ele {
    width: 35px;
  }
  .playelu-frame {
    height: 100vh;
  }
  .playelu-frame .playelu-all {
    margin-top: 120px;
  }
  .playelu-frame .playelu-all .playelu-img img {
    width: calc(100% - 130px);
  }
  .my-star::before {
    height: 50px;
  }
  .background-bottom {
    bottom: 0;
  }

  .playelu-tittle h1 {
    font-size: 22px;
  }
  .playelu-btn {
    width: calc(100% - 36px);
  }
  .subcribe__playelu-btn {
    bottom: -45px;
    left: calc((100% - 18px) / 2 - 50px);
    width: 100px;
    height: 37.5px;
    font-size: 14px;
  }

  .playelu-btn input {
    padding-right: 3px;
    height: 46px;
    font-size: 14px;
    padding-left: 44px;
    letter-spacing: 2px;
  }

  .iconEmail {
    width: 25px;
    left: 10px;
    margin-top: 10px;
  }
  .name-email {
    font-size: 18px;
    bottom: 7%;
  }

  .playelu-input {
    width: 100%;
  }

  .error-email {
    width: 80%;
    margin: 0px auto;
    font-size: 10px;
  }
  .playelu__link {
    width: 100%;
  }

  .playelu__link-ele img {
    width: 90%;
  }

  .modal-header {
    padding: 2px;
  }

  .close-modal {
    width: 25px;
    height: 25px;
    top: 15px;
    right: 15px;
  }

  .navbar-header {
    display: none;
  }
  .footer {
    width: 100%;
    margin-bottom: 15px;
  }
  .policy,
  .policy a {
    font-size: 12px;
    margin: 15px 0 3px 0;
  }
  .policy span {
    margin: 0 2px;
  }
  .version {
    font-size: 9px;
  }
}
