// Mini Mobile
@media screen and (max-width: 576px) {
}

// Mobile
@media screen and (max-width: 740px) {
  .discord {
    right: -96px;
    transform: scale(0.23) translateY(-200vh);
    .discord-img {
      display: none;
    }
    .mobile__discord-img {
      display: block;
    }
    bottom: -240px;
  }
  .modal-thankyou > .modal-content,
  .modal-comingsoon > .modal-content {
    width: 90vw;
    height: 55vw;
    border-radius: 18px;
    .modal-container {
      border-radius: 18px;
      flex-direction: column;
      border: 5px solid #fff;
      border: 2px solid #fff;
      img{
        width: 60%;
        margin: 0 auto;
      }
      h1{
        color: #fff;
       text-transform: uppercase;
       letter-spacing: 2px;
       font-size: 20px;
      }
    }
  }
  .playelu__link-ele {
    width: 24px;
  }
  .playelu-frame .playelu-all .playelu-img img {
    width: calc(100% - 36px);
  }
  .my-star::before {
    height: 50px;
  }
  .background-bottom {
    bottom: 0;
  }

  .playelu-top {
    margin-top: 70px;
  }

  .playelu-tittle h1 {
    font-size: 24px;
  }
  .playelu-btn {
    width: calc(100% - 36px);
  }
 
  .playelu-btn button {
    width: 30%;
    border-radius: 5.572vh;
    height: calc(100% - 20px);
    font-size: 12px;
    letter-spacing: 1.2px;
  }

  .playelu-btn input {
    padding-right: 30.5%;
    height: 46px;
    border-radius: 5.572vh;
    font-size: 14px;
    padding-left: 44px;
    letter-spacing: 2px;
  }

  .iconEmail {
    font-size: 26px;
    left: 10px;
    margin-top: 10px;
  }
  .name-email {
    font-size: 18px;
    bottom: 7%;
  }

  .playelu-input {
    width: 100%;
  }

  .playelu__link {
    width: 100%;
  }

  .playelu__link-ele img {
    width: 90%;
  }
  // .modal-thankyou > .modal-content {
  //   width: 80vw;
  // }

  // .modal-content {
  //   border-radius: 13px;
  // }

  .modal-header {
    padding: 2px;
  }

  .close-modal {
    width: 25px;
    height: 25px;
    top: 15px;
    right: 15px;
  }

  .header {
    display: none;
  }
  .policy {
    width: 230px;
    margin-top: 20px;
  }
  .policy a {
    font-size: 12px;
  }
}
