// Medium devices (tablets)
@media (min-width: 768px) and (max-width: 991.98px) {
  .discord {
    right: -3%;
    transform: scale(0.7) translateY(25%);

    .discord-img {
      display: block;
    }

    .mobile__discord-img {
      display: none;
    }
  }

  .background-bottom {
    bottom: 0;
  }

  .playelu-frame {
    .playelu-all {
      width: 50%;
    }
  }

  .playelu-img {
    width: 80%;
  }

  .playelu-btn {
    max-width: 530px;
  }

  .playelu-btn input {
    padding-right: 25.5%;
    padding-left: 52px;
    font-size: 20px;
  }

  .modal-thankyou > .modal-content,
  .modal-comingsoon > .modal-content {
    width: 70vw;
    height: 50vw;
    border-radius: 37px;

    .modal-container {
      flex-direction: column;
      border: 5px solid #fff;

      img {
        width: 70%;
        margin: 0 auto;
      }

      h1 {
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 46px;
      }
    }
  }

  .modal-thankyou > .modal-content,
  .modal-comingsoon > .modal-content {
    width: 70vw;
  }
}

// iPad / Tablet
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .discord {
    right: -2%;
    transform: scale(0.8) translateY(10%);

    .discord-img {
      display: block;
    }

    .mobile__discord-img {
      display: none;
    }
  }

  .background-bottom {
    bottom: 0;
  }

  .playelu-all {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;

    .playelu-img {
      margin: 0 auto;
      text-align: center;

      img {
        width: 280px;
      }
    }
  }

  .playelu-tittle h1 {
    font-size: 36px;
  }

  .playelu-btn {
    max-width: 540px;
  }

  .playelu-btn input {
    padding-left: 60px;
    padding-right: 22.5%;
    font-size: 20px;
  }

  .iconEmail {
    margin-top: 11px;
  }
}