$font_content: "cookieRun_Regular";
$font_black: "cookieRun_black";
$font_bold: "cookieRun_bold";

.white-list_succceed__frame {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.white-list__succeed {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.white-list__succeed__img {
    width: 300px;
    height: auto;
    margin-bottom: 50px;
}
.modal-succeed__body {
    flex-direction: column;
}

.white-list__succeed__content {
    display: flex;
    flex-direction: column;
    width: 100% !important;
}

.white-list__succeed__heading {
    font-size: 24px !important;
}
.white-list__succeed__sub {
    font-size: 22px;
    text-align: center;
}

// CountDown time
.countdown {
    max-width: 450px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.countdown-element {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    color: #fff;
}
.time {
    position: relative;
    width: 50px;
    height: 50px;
    background: #fdcd2f;
    border: 1.5px solid #403100;
    box-sizing: border-box;
    border-radius: 7px;
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time span {
    font-family: $font_bold;
    color: #000;
    font-weight: 600;
}
.countdown-element__shadow {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 4px;
    height: 6px;
    border-radius: 50%;
    background: #ffff;
}

.countdown-element__title {
    font-family: $font_content;
    font-weight: 200;
    font-size: 15px;
}
