//* Const define
$font_content: "cookieRun_Regular";
$font_black: "cookieRun_black";
$font_bold: "cookieRun_bold";

.modal-comingsoon__whitelist {
    width: calc(100% - 60px);
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font_content;
}
.modal-succeed__body__img {
    width: 250px;
    height: auto;
    margin-bottom: 40px;
}
.modal-succeed__body__content {
    color: #ffff;
    font-size: 24px;
    width: 90%;
}
.modal-comingSoon__content {
    text-align: center;
    width: 100%;
}
// CountDown time
.countdown {
    max-width: 320px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.countdown-element {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    color: #fff;
}
.time {
    position: relative;
    width: 50px;
    height: 50px;
    background: #fdcd2f;
    border: 1.5px solid #403100;
    box-sizing: border-box;
    border-radius: 7px;
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time span {
    font-family: $font_bold;
    color: #000;
    font-weight: 600;
}
.countdown-element__shadow {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 4px;
    height: 6px;
    border-radius: 50%;
    background: #ffff;
}

.countdown-element__title {
    font-family: $font_content;
    font-weight: 200;
    font-size: 15px;
}

@media screen and (max-width: 739.9px) {
    .modal-comingsoon__whitelist {
        width: calc(100% - 30px);
        margin: 15px auto;
    }
    .modal-succeed__body__img {
        width: 140px;
        height: auto;
        margin-bottom: 10px;
    }
    .modal-succeed__body__content {
        font-size: 18px;
    }

    // CountDown time
    .countdown {
        width: 80%;
        margin-top: 10px;
    }
    .time {
        position: relative;
        width: 35px;
        height: 35px;
        border: 1.5px solid #403100;
        margin-bottom: 3px;
    }
    .time span {
        font-family: $font_bold;
        color: #000;
        font-size: 14px;
        font-weight: 500;
    }

    .countdown-element__title {
        font-size: 12px;
    }
}
