.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
.modal-dialog {
  margin: 0;
}
.modal-100w > .modal-content {
  background: url("https://storage.googleapis.com/laboon-img-storage/play-elu/playelu/backgroundModalNavbar_1.webp")
    no-repeat center / cover;
  height: 100vh;
  width: 100vw;
  border-radius: 0;
  margin: 0;
}

.header__modal-navbar {
  margin: 20px 10px;
  display: flex;
  justify-content: space-between;
}
.header__modal-navbar > img {
  height: 70px;
}
.navbar-btn {
  display: none;
  margin: 15px;
  width: 30px;
}
.navbar-btn img {
  width: 100%;
}

.close__modal-navbar {
  width: 30px;
}
.close__modal-navbar img {
  width: 100%;
}
.modal-element {
  position: relative;
  width: 100%;
  margin-top: -4px;
}
.modal-element h2 {
  font-family: "BoldenVan", sans-serif;
  letter-spacing: 2px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  padding-top: 4%;
  color: #fff;
  text-align: center;
  top: 0;
}
.modal-element h2:hover {
  color: #fabb1a;
}
.modal-element img {
  width: 100%;
}
@media screen and (max-width: 740px) {
  .navbar-btn {
    display: block;
  }
  .modal-element h2 {
    font-family: "BoldenVan", sans-serif;
    font-size: 20px;
    padding-top: 3%;
  }
}
