//* Mobile
@media screen and (max-width: 739.9px) {
    // Modal Warning

    .warning {
        position: fixed;
        top: 55px;
        right: 5px;
        width: calc(100% - 10px);
        height: 45px;
        border-radius: 7px;
    }

    .warning__frame {
        width: 95%;
    }

    .warning__frame img {
        width: 20px;
    }

    .warning__text {
        font-size: 11px;
    }

    .warning__btn {
        width: 80px;
        height: 52px;
    }
    .warning__btn span {
        font-size: 12px;
    }
    @keyframes warning {
        0% {
            right: -100%;
        }
        100% {
            right: 5px;
        }
    }

    // Modal inprocessing
    /* CSS MODAL */
    .modal-sale-frame {
        width: 300px;
        height: 239px;
        border-radius: 10px;
    }

    .modal-sale__title {
        font-size: 22px;
        margin-top: 5%;
        height: 17%;
        -webkit-text-stroke: 1px black;
    }

    .modal-succeed__btn {
        font-size: 16px;
        padding: 4px 11px;
        margin-top: 10px;
        border-radius: 6px;
    }

    .modal-succeed,
    .modal-fail {
        width: calc(100% - 20px);
        margin: 10px auto;
        justify-content: center;
    }

    .modal-succeed__heading {
        font-size: 22px;
        margin-bottom: 5px;
    }

    .modal-succeed__body__content {
        font-size: 14px;
        width: auto;
        text-align: center;
    }
    .modal-fail__body__content {
        font-size: 14px;
        width: calc(100% - 30px);
        text-align: center;
    }

    .modal-succeed__body__img {
        width: 140px;
        height: auto;
    }
    .modal_succeed__link-gameplay {
        font-size: 14px;
    }
}

//* IPAD
/*
IPAD 
- min-width: 740px
- max-width: 1024px
*/
@media screen and (min-width: 740px) and (max-width: 1024px) {
    // Modal inprocessing
    .modal-sale-frame {
        width: 600px;
        height: 457px;
        border-radius: 24px;
    }
    .modal-sale__title {
        font-size: 35px;
    }

    // Modal succeed
    .modal-succeed__btn {
        font-size: 24px;
        margin-top: 20px;
    }

    .modal-succeed,
    .modal-fail {
        width: calc(100% - 40px);
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .modal-succeed__body__content {
        font-size: 18px;
        width: calc(calc(100% - 150px));
    }

    .modal-succeed__body__img {
        width: 150px;
        height: 116.4px;
    }

    .modal_succeed__link-gameplay {
        font-size: 18px;
    }

    .modal-fail__body__content {
        width: calc(100% - 180px);
    }
}

/*
IPAD 
- min-width: 1024px
- max-width: 1365px
*/
@media screen and (min-width: 1024px) and (max-width: 1365px) {
}
