// loading icon login
.loading-icon {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 35px;
}

.loading-icon div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    margin: 2px;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: loading-icon 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent;
}

.loading-icon div:nth-child(1) {
    animation-delay: -0.45s;
}

.loading-icon div:nth-child(2) {
    animation-delay: -0.3s;
}

.loading-icon div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes loading-icon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// animation loading modal inprocessing
.modal-sale__loading-bar {
    display: flex;
    position: relative;
    width: 70px;
    height: 110px;
}

.modal-sale__loading-bar div {
    transform-origin: 40px 20px;
    animation: loader 1.2s linear infinite;
}

.modal-sale__loading-bar div::after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 40px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fdcd2f;
}

.modal-sale__loading-bar div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.modal-sale__loading-bar div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.modal-sale__loading-bar div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.modal-sale__loading-bar div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.modal-sale__loading-bar div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.modal-sale__loading-bar div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.modal-sale__loading-bar div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.modal-sale__loading-bar div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.modal-sale__loading-bar div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.modal-sale__loading-bar div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.modal-sale__loading-bar div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.modal-sale__loading-bar div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes loader {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 739.9px) {
    .loading-icon {
        height: 24px;
    }

    .loading-icon div {
        width: 20px;
        height: 20px;
        border: 3px solid #fff;
        border-radius: 50%;
        animation: loading-icon 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent;
    }

    .modal-sale__loading-bar div::after {
        top: 10px;
        left: 30px;
        width: 5px;
        height: 5px;
    }
}
