* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.gameplay-body {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
}
.sky {
  background: url("../img/skyBackground.webp") no-repeat center / cover;
  .sky-top {
    width: 100vw;
    height: 100vh;
    max-height: 1280px;
    .gameplay-selection {
      max-height: 545px;
      height: 45vh;
      display: flex;
      align-items: center;
    }
  }
}

.rune {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;

  .gameplay__rune-img {
    position: absolute;
    z-index: 1;
    width: 100%;
  }
  .gameplay__boonmoon-img {
    position: absolute;
    width: 40%;
    bottom: 45%;
    z-index: 0;
  }
}
.gameplay__selection-img {
  width: 100%;
}
.gameplay-logo {
  width: 45%;
  margin: auto;
}

.gameplay__logo-img {
  width: 100%;
}
.sky-center {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 600px;
}
.sky__center-islands {
  position: absolute;
  left: 50%;
  bottom: -25%;
  height: 100%;
  transform: translate((-50%, -50%));
}
.sky__center-frames {
  position: relative;
  width: 250px;
  height: 250px;
  transition: all 1s ease-in-out;
  transform: perspective(1000px) rotateX(-12deg) rotateY(0deg) rotateZ(0deg);
  transform-style: preserve-3d;
}
.island {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
}
.island:nth-child(1) {
  background: url("https://storage.googleapis.com/laboon-img-storage/play-elu/gameplay/islandWater.webp")
    no-repeat center / cover;
  transform: rotateY(0deg) translateZ(650px);
}
.island:nth-child(2) {
  background: url("https://storage.googleapis.com/laboon-img-storage/play-elu/gameplay/island.webp")
    no-repeat center / cover;
  transform: rotateY(0deg) translateZ(300px);
  margin-left: 130%;
}
.island:nth-child(3) {
  background: url("https://storage.googleapis.com/laboon-img-storage/play-elu/gameplay/island.webp")
    no-repeat center / cover;
  transform: rotateY(180deg) translateZ(300px);
  margin-left: 90%;
}
.island:nth-child(4) {
  background: url("https://storage.googleapis.com/laboon-img-storage/play-elu/gameplay/island.webp")
    no-repeat center / cover;
  transform: rotateY(180deg) translateZ(750px);
}
.island:nth-child(5) {
  background: url("https://storage.googleapis.com/laboon-img-storage/play-elu/gameplay/island.webp")
    no-repeat center / cover;
  transform: rotateY(180deg) translateZ(300px);
  margin-left: -90%;
}
.island:nth-child(6) {
  background: url("https://storage.googleapis.com/laboon-img-storage/play-elu/gameplay/island.webp")
    no-repeat center / cover;
  transform: rotateY(0deg) translateZ(300px);
  margin-left: -130%;
}

.beach {
}
.beach img {
  width: 100%;
}
.ocean {
}
