* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.gameplay-body {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
}
.sky {
  background: url("https://storage.googleapis.com/laboon-img-storage/play-elu/gameplay/skyBackground.webp")
    no-repeat center / cover;
  .sky-top {
    width: 80vw;
    margin: auto;
    .gameplay-selection {
      height: 60vh;
      display: flex;
      align-items: center;
    }
  }
}

.rune {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;

  .gameplay__rune-img {
    position: absolute;
    z-index: 1;
    width: 100%;
  }
  .gameplay__boonmoon-img {
    position: absolute;
    width: 40%;
    bottom: 45%;
    z-index: 0;
  }
}
.gameplay__selection-img {
  width: 100%;
}
.gameplay-logo {
  width: 45%;
  margin: auto;
}

.gameplay__logo-img {
  width: 100%;
}

.sky-center {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.eluDrop-btn {
  position: absolute;
  bottom: 0;
  width: 10%;
  margin-left: 45%;
}

.island1,
.island2,
.island3 {
  margin: auto;
  width: 30%;
  height: 100%;
  .isLand-img {
    width: 100%;
  }
}
.island1 .isLand-img:nth-child(1) {
  width: 50%;
  margin-left: 52%;
}
.island3 .isLand-img:nth-child(1) {
  width: 60%;
  margin-right: 30%;
}
.island2 .isLand-img:nth-child(1) {
  width: 50%;
  margin-left: 25%;
}
.island1 .isLand-img:nth-child(2),
.island3 .isLand-img:nth-child(2) {
  width: 70%;
  margin-bottom: 15%;
  margin-left: 15%;
}
