
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('http://fonts.cdnfonts.com/css/boldenvan');
body{
    overflow: hidden;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

::placeholder { 
    font-family: 'BoldenVan', sans-serif;  
    color: #114F8C;
    opacity: 1;
}

:-ms-input-placeholder {
    font-family: 'BoldenVan', sans-serif;  
    color: #114F8C;
}

::-ms-input-placeholder { 
    font-family: 'BoldenVan', sans-serif;  
    color: #114F8C;
}
.w-70 {
    width: 70%!important;
}
.shooting-star{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

}
.my_star-all{
    position: relative;
    width: 100%;
    // height: 100%;
    transform: rotate(140deg);
   height: 20px;
}
.my-star{
   width: 100%;
    position: absolute;
    bottom: 0;
}

.my-star::before{
    content: '';
    position: absolute;
    // transform: translateY(-70%);
    left: 40%;
    // width: 50px;
    width: 20%;
    border-radius: 80%;
    height: 170px;
    background: linear-gradient(180deg,rgba(255,255,255,0), #dfbb39 12%, rgba(246,246,237,0));
}
.my-star img{
    animation: twirl 0.00001s ease 0s infinite;
    -webkit-animation: twirl 4s linear 0s infinite;
    -moz-animation: twirl 4s linear 0s infinite;
    -o-animation: twirl 4s linear 0s infinite;
    width: 100%;
 }
 /* .my-star::before{
     content: '';
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     width: 50px;
     height: 1px;
     background: linear-gradient(0deg,rgba(255,255,255,0), #dfbb39 12%, rgba(246,246,237,0));
 } */
.star-trail{
    position: absolute;
    bottom: 20%;
    left: 40%;
    height: 70px;
    border-radius: 8px;
    width: 20%;
    background: linear-gradient(0deg,rgba(255,255,255,0), #dfbb39 12%, rgba(246,246,237,0));
}
.background-cloud{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;


}
.my-cloud{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background: url('../img/cloud.png');
    animation: cloudanimation 60s linear infinite;
}
.cloud{
    width: 15%;
    animation: cloud 25s infinite linear;
    position:relative;
    display: flex;
}
.cloud2{
    margin-left: 50vw;
}
.cloud img{
    width: 100%;
}
.x1{
    animation: cloud 21s infinite linear;
    opacity: 1;  
    }
    
    .x2{
        animation: cloud 20s infinite linear;
    opacity:0.9;
    transform: scale(0.7);
    top:0;
    left: 10%;
    }
    
    .x3{
        animation: cloud 22s infinite linear;
        top:15%;
        transform: scale(0.6);
    }
    
    .x4{
        animation: cloud 24s infinite linear;
        top:0;
        transform: scale(0.9);
    }
    
    .x5{
        animation: cloud 25s infinite linear;
    opacity:0.6;
    transform: scale(1.0);
    bottom:20vh;
    left: 10%;
    }
    .x6{
        animation: cloud 21s infinite linear;
        opacity: 1;  
        left: 20%;
    }
.playelu{
    background: url("https://storage.googleapis.com/laboon-img-storage/play-elu/backgrounTop.png") no-repeat center /cover;
    height: 100vh;
    z-index: -2;
    background-position-y: 72%;
    overflow: hidden;
}
.star-cloud{
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
}

.background-bottom{
    position: absolute;
    z-index: 2;
    bottom: -10vh;
    width: 100%;
}
.background__bottom-img{
    width: 100%;
}
.sound{
    width: 7vh;
}
.sound-on,.sound-off{
    display: none;
    width: 100%;
}
.sound-on.active,.sound-off.active{
    display: block;
}
.mobile-discord{
    position: absolute;
    z-index: 1;
    top: 35vh;
    right: 0;
    width: 12vw;
}
.mobile__discord-img{
    width: 100%;
    display: none;
}
.playelu-all{
    max-width: 1920px;
    width: 45%;
    margin:0 auto;

}
.playelu-menu{
    background: url('../img/playeluHeader1.png') no-repeat center /contain;
    margin-top: 5px;
    height: 19vh;


}

.menu{
    width: 89%;
    margin: auto;
    height: 19vh;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.playelu__menu-element{
    width: 20%;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.playelu__menu-element img{
    margin: auto;
    width: 80%;
}
.playelu__menu-element h4{
    position: absolute;
    top: 0;
    font-size: 12px;
    letter-spacing: 1.4px;
    text-align: center;
    width: 100%;
    top: 50%;
    color: #fff;
    font-family: 'BoldenVan', sans-serif;
    font-weight: 300;
}
.playelu__menu-element h4:hover{
    color: #fabb1a;
}
.playelu-img{
    width: 90%;
   margin: auto;
}

.playelu-img img{
    width: 100%;
}
.playelu-tittle{
    padding-bottom:  calc(100vh*2/100);
    width: 100%;
    text-align: center;
}
.playelu-tittle h1{
    font-family: 'BoldenVan', sans-serif;                                         
    color: #fff;
    font-size: calc(100vh*5/100);
}
.playelu-btn{
    margin: auto;
    position: relative;
    height: 8vh;
}

.playelu-btn button{
    font-weight: 500;
    font-family: 'BoldenVan', sans-serif;  
    background-image: radial-gradient(circle, #FBD426, #FAB517);
    position: absolute;
    right: 0;
    letter-spacing: 3px;
    width: calc(100vw*13/100);
    height: calc(100vh*7/100);
    border-radius: calc(100vh*5.572/100);
    color:#114F8C;
    font-size: calc(100vh*3/100);
    margin: calc(100vh*0.286/100);
    border: calc(100vh*0.226/100) solid #114F8C;
   
}

.playelu-btn input{
    font-family: 'BoldenVan', sans-serif;  
    width: 100%;
    margin: auto;
    letter-spacing: 3px;
    height: calc(100vh*7.572/100);
    border-radius: calc(100vh*5.572/100);
    border: none;
    font-size: calc(100vh*3/100);
    color: #114F8C;
    padding-left: calc(100vw*5/100);
    position: absolute;
    padding-right: 13vw;
}
.iconEmail{
    color: #114F8C;
    position: absolute;
    font-size: calc(100vh*5/100);
    left: calc(100vw*1/100);
    margin-top: calc(100vh*1.3/100);
    z-index : 4;
}
.playelu-input{
    z-index : 4;
    width : 100%;
}

.playelu__link{
    width: 40%;
    display: flex;
}
.playelu__link-ele img{
    width: 100%;
}
.playelu-bottom {
    z-index: 3;
}
.discord{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
}
.discord img{
    width: 11vw;
    height: 9vw;
}
.subcribe__playelu-btn{
    z-index: 4;
}
.playelu-top{
    z-index: 5;
}


.modal-thankyou,.modal-comingsoon{
    display: flex;
    justify-content: center;
    min-width: 100vw;
}
.modal-thankyou > .modal-content,.modal-comingsoon > .modal-content{
    width: 50vw;
}
.modal-content{
    border-radius: 25px;
}
.modal-header{
    display: block;
    border: none;
    padding: 4px;
}
.modal-header img{
    width: 100%;
}
.close-modal{
    width: 40px;
    height: 40px;
    position: absolute;
    border: none;
    outline: none;
    top: 30px;
    right: 30px;
}
.close-modal img{
    width: 100%;
}
.name-email{
    font-family: 'BoldenVan', sans-serif;  
    width: 100%;
    color: #fff;
    font-size: 32px;
    text-align: center;
    position: absolute;
    bottom: 5%;
}
.background-star{
    animation: twirl 10s linear 0s infinite;
    -webkit-animation: twirl 10s linear 0s infinite;
    -moz-animation: twirl 10s linear 0s infinite;
    -o-animation: twirl 10s linear 0s infinite;
}
@keyframes cloudanimation{
    0%      {
        background-position: 0px;
    }
    100%    {
        background-position: 5440px;
    }
}
@keyframes cloud {

    0%      {margin-left: 0;}
    100%    {margin-left:100%;}
    
}
@keyframes twirl{
    from{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}


  
 

@media screen and (max-width: 739.8px){
    :root{
        --btnWidth:30vw
    }
    .my-star::before{
        height: 50px;
    }
    .background-bottom{
        bottom: 0;
    }
    .mobile__discord-img{
        display: block;
    }

    .playelu-all{
        width: 100%;
        margin:0 auto;
        padding-top: 8vh;
    }

    .playelu-tittle{
           width: 70vw;
           margin: 0 15%;
           text-align: center;
        }
        .playelu-btn{
           width: 95vw;
        }
    .playelu-btn button{
        width: calc(100vw*30/100);
        height: calc(100vh*6/100);
        border-radius: calc(100vh*5.572/100);
        font-size: calc(100vh*2.3/100);
        letter-spacing: 2px;
    }
    
    .playelu-btn input{
        padding-right: var(--btnWidth);
        height: calc(100vh*6.572/100);
        border-radius: calc(100vh*5.572/100);
        font-size: calc(100vh*2.7/100);
        padding-left: calc(100vw*12/100);
        letter-spacing: 2px;
    }

    .iconEmail{
        font-size: calc(100vh*4/100);
        left: calc(100vw*3/100);
        margin-top: calc(100vh*1.3/100);
    }

    .playelu-input{
        width: 100%;
    }
    
    .playelu__link{
        width: 50%;
        display: flex;
    }

    .playelu__link-ele img{
        width: 100%;
    }

    .discord{
        display: none;
    }

    .modal-thankyou > .modal-content{
        width: 80vw;
    }

    .modal-content{
        border-radius: 13px;
    }

    .modal-header{
        padding: 2px;
    }

    .close-modal{
        width: 25px;
        height: 25px;
        top: 15px;
        right: 15px;
    }

    .name-email{
        font-size: 28px;
        bottom: 0;
    }

    .playelu-menu{
        display: none;
    }

}
@media screen and (min-width: 740px) and (max-width: 1024px){
    :root{
        --btnWidth:20vw
    }
    .background-bottom{
        bottom: 0;
    }

    .playelu-all{
        width: 90%;
        margin:0 auto;
    }

    .playelu-tittle h1{
        font-size: calc(100vh*5.5/100);
    }
   
    .playelu-btn button{
        width: calc(100vw*20/100);
        font-size: calc(100vh*2.3/100);
        letter-spacing: 3px;
    }
    
    .playelu-btn input{
        padding-right: var(--btnWidth);;
        padding-left: calc(100vw*8.7/100);
        font-size: calc(100vh*2.8/100);
    }
    .iconEmail{
        color: #158fa5;
        position: absolute;
        font-size: calc(100vh*4.5/100);
        left: calc(100vw*2/100);
    }
    
    .playelu__link{
        width: 40%;
    }

    .playelu-menu{
        width: 100%;
    }

    .modal-thankyou > .modal-content,.modal-comingsoon > .modal-content{
        width: 70vw;
    }

    
}
@media screen and (min-width: 1024px) and (max-width: 1365px){
    :root{
        --btnWidth:20vw
    }
    .background-bottom{
        bottom: 0;
    }
    .playelu-all{
        width: 70%;
        /* margin:0 auto; */
    }

    .playelu-tittle h1{
        font-size: calc(100vh*5.5/100);
    }
   
    .playelu-btn button{
        width: calc(100vw*20/100);
        font-size: calc(100vh*2.3/100);
        letter-spacing: 3px;
    }
    
    .playelu-btn input{
        padding-left: calc(100vw*7/100);
        padding-right: var(--btnWidth);
        font-size: calc(100vh*2.7/100);
    }
    .iconEmail{
        color: #158fa5;
        position: absolute;
        font-size: calc(100vh*4/100);
        left: calc(100vw*2/100);
        margin-top: calc(100vh*1.7/100);
    }
    
    .playelu__link{
        width: 40%;
    }

    .discord img{
        width: 16vw;
        height: 13vw;
    }

}
@media screen and (min-width: 1900px){
    .playelu-img{
        width: 80%;
    }

    .playelu-btn{
        width: 75%;
    }
    .playelu__menu-element h4{
        font-size: 16px;
    }
}




