@media screen and (max-width: 576px){
  .playelu-frame .playelu-all{
    width: 100%;
  }
}
@media screen and (max-width: 740px) {
  :root {
    --btnWidth: 30vw;
  }
  .my-star::before {
    height: 50px;
  }
  .background-bottom {
    bottom: 0;
  }
  .discord {
    right: -68px;
    transform: scale(.25) translateY(-180%);
    .discord-img {
   display: none;
     }
     .mobile__discord-img {
      display: block;
    }
  }
  .playelu-frame .playelu-all{
    width: 90%;
  }
.playelu-top{
  margin-top: 70px;
}
  .playelu-tittle {
    width: 80%;
    margin: 0 10%;
  }
  .playelu-btn {
    max-width: 420px;
    width: 96%;
  }
  .playelu-btn button {
    width:30%;
    height: 42px;
    border-radius: 5.572vh;
    font-size:15px;
    letter-spacing: 1.2px;
  }

  .playelu-btn input {
    padding-right: 30.5%;
    height: 46px;
    border-radius: 5.572vh;
    font-size: 18px;
    padding-left: 37px;
    letter-spacing: 2px;
  }

  .iconEmail {
    font-size: 26px;
    left: 10px;
    margin-top: 10px;
  }
  .name-email {
    font-size: 18px;
    bottom: 7%;
  }

  .playelu-input {
    width: 100%;
  }

  .playelu__link {
    max-width: 350px;
    width: 70%;
  }

  .playelu__link-ele img {
    width: 90%;
  }
  .modal-thankyou > .modal-content {
    width: 80vw;
  }

  .modal-content {
    border-radius: 13px;
  }

  .modal-header {
    padding: 2px;
  }

  .close-modal {
    width: 25px;
    height: 25px;
    top: 15px;
    right: 15px;
  }

  .header {
    display: none;
  }
  .policy {
    width: 230px;
  }
  .policy a {
    font-size: 12px;
  }
}
@media screen and (min-width: 740px) and (max-width: 1024px) {
  :root {
    --btnWidth: 20vw;
  }
  .discord {
    right: -58px;
    transform: scale(.4) translateY(-100%);
    .discord-img {
   display: none;
     }
     .mobile__discord-img {
      display: block;
    }
  }
  .background-bottom {
    bottom: 0;
  }
  .playelu-frame{
    .playelu-all {
      width: 60%;
    }
  }
 
  .menu {
    width: 95%;
    .playelu__menu-element {
       h4 {
      
        font-size: 10px;
        letter-spacing: 0.5px;
  
      }
    }
  }

  .playelu-img {
    width: 80%;
  }
  .playelu-tittle h1 {
    font-size: calc(100vh * 5.5 / 100);
  }
  .playelu-btn{
    max-width: 530px;
  }
  .playelu-btn button {
    width: 25%;
    font-size: 14px;
    letter-spacing: 2px;
  }

  .playelu-btn input {
    padding-right: 25.5%;
    padding-left: 52px;
    font-size: 20px;
  }
  .iconEmail {
    font-size: 33px;
    left: 15px;
  }

  .playelu__link {
    max-width: 420px;
    width: 80%;
  }

  .policy {
    width: 300px;
  }
  .header {
    width: 100%;
  }

  .modal-thankyou > .modal-content,
  .modal-comingsoon > .modal-content {
    width: 70vw;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  :root {
    --btnWidth: 20vw;
  }
  .background-bottom {
    bottom: 0;
  }
  .playelu-all {
    width: 60%;
  }

  .playelu-img {
    width: 80%;
  }
  .playelu-tittle h1 {
    font-size: calc(100vh * 5.5 / 100);
  }
  .playelu-btn{
    max-width: 540px;
  }
  .playelu-btn button {
    width: 22%;
    font-size:15px;
    letter-spacing: 3px;
  }

  .playelu-btn input {
    padding-left: 60px;
    padding-right: 22.5%;
    font-size: 20px;
  }
  .iconEmail {
    position: absolute;
    font-size: 35px;
    left: 20px;
    margin-top: 7.5px;
  }

  .playelu__link {
    max-width: 450px;
    width: 60%;
  }

  .policy {
    width: 300px;
  }

}
@media screen and (min-width: 1900px) {
  .playelu-img {
    width: 80%;
  }

  .playelu-btn {
    width: 75%;
  }
  .playelu__menu-element h4 {
    font-size: 16px;
  }
}
