@media screen and (max-width: 739.9px) {
  :root {
    --btnWidth: 30vw;
  }
  .my-star::before {
    height: 50px;
  }
  .background-bottom {
    bottom: 0;
  }
  .mobile__discord-img {
    display: block;
  }

  .playelu-all {
    width: 100%;
    margin: 0 auto;
    padding-top: 8vh;
  }

  .playelu-tittle {
    width: 70vw;
    margin: 0 15%;
    text-align: center;
  }
  .playelu-btn {
    width: 95vw;
  }
  .playelu-btn button {
    width: calc(100vw * 30 / 100);
    height: calc(100vh * 6 / 100);
    border-radius: calc(100vh * 5.572 / 100);
    font-size: calc(100vh * 2.3 / 100);
    letter-spacing: 2px;
  }

  .playelu-btn input {
    padding-right: var(--btnWidth);
    height: calc(100vh * 6.572 / 100);
    border-radius: calc(100vh * 5.572 / 100);
    font-size: calc(100vh * 2.7 / 100);
    padding-left: calc(100vw * 12 / 100);
    letter-spacing: 2px;
  }

  .iconEmail {
    font-size: calc(100vh * 4 / 100);
    left: calc(100vw * 3 / 100);
    margin-top: calc(100vh * 1.3 / 100);
  }
  .name-email {
    font-size: 18px;
    bottom: 7%;
  }

  .playelu-input {
    width: 100%;
  }

  .playelu__link {
    width: 70%;
  }

  .playelu__link-ele img {
    width: 90%;
  }

  .discord {
    display: none;
  }

  .modal-thankyou > .modal-content {
    width: 80vw;
  }

  .modal-content {
    border-radius: 13px;
  }

  .modal-header {
    padding: 2px;
  }

  .close-modal {
    width: 25px;
    height: 25px;
    top: 15px;
    right: 15px;
  }

  .header {
    display: none;
  }
}
@media screen and (min-width: 740px) and (max-width: 1024px) {
  :root {
    --btnWidth: 20vw;
  }
  .background-bottom {
    bottom: 0;
  }

  .playelu-all {
    width: 80%;
    margin: 0 auto;
  }

  .playelu-img {
    width: 80%;
  }
  .playelu-tittle h1 {
    font-size: calc(100vh * 5.5 / 100);
  }

  .playelu-btn button {
    width: calc(100vw * 20 / 100);
    font-size: calc(100vh * 2.3 / 100);
    letter-spacing: 3px;
  }

  .playelu-btn input {
    padding-right: var(--btnWidth);
    padding-left: calc(100vw * 8.7 / 100);
    font-size: calc(100vh * 2.8 / 100);
  }
  .iconEmail {
    color: #158fa5;
    position: absolute;
    font-size: calc(100vh * 4.5 / 100);
    left: calc(100vw * 2 / 100);
  }

  .playelu__link {
    width: 40%;
  }

  .header {
    width: 100%;
  }

  .modal-thankyou > .modal-content,
  .modal-comingsoon > .modal-content {
    width: 70vw;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  :root {
    --btnWidth: 20vw;
  }
  .background-bottom {
    bottom: 0;
  }
  .playelu-all {
    width: 60%;
  }

  .playelu-img {
    width: 80%;
  }
  .playelu-tittle h1 {
    font-size: calc(100vh * 5.5 / 100);
  }

  .playelu-btn button {
    width: calc(100vw * 20 / 100);
    font-size: calc(100vh * 2.3 / 100);
    letter-spacing: 3px;
  }

  .playelu-btn input {
    padding-left: calc(100vw * 7 / 100);
    padding-right: var(--btnWidth);
    font-size: calc(100vh * 2.7 / 100);
  }
  .iconEmail {
    color: #158fa5;
    position: absolute;
    font-size: calc(100vh * 4 / 100);
    left: calc(100vw * 2 / 100);
    margin-top: calc(100vh * 1.7 / 100);
  }

  .playelu__link {
    width: 40%;
  }

  .discord img {
    width: 16vw;
    height: 13vw;
  }
}
@media screen and (min-width: 1900px) {
  .playelu-img {
    width: 80%;
  }

  .playelu-btn {
    width: 75%;
  }
  .playelu__menu-element h4 {
    font-size: 16px;
  }
}
