.skyBottom {
  margin-top: 5%;
  position: relative;

  .boat__animation1 {
    position: absolute;
    z-index: 0;
    width: 8%;
    animation: boat 75s ease infinite;
  }
  .boat__animation2 {
    position: absolute;
    z-index: 0;
    width: 5%;
    animation: boat 70s ease infinite;
  }
  .sailboat {
    padding-top: 10%;
    display: flex;
    justify-content: space-between;
    .sailboat-left {
      margin-left: 5%;
      width: 40%;
      margin-bottom: 15%;
    }
    .sailboat-right {
      width: 30%;
      margin-top: 25%;
    }
  }
}
.skyBottom img {
  width: 100%;
}
@keyframes boat {
  0% {
    left: -7%;
  }

  100% {
    left: 100vw;
  }
}
