.elu-box-feature-coming-soon {
  .feat-container {
    .content {
      .notice {
        font-size: 16px;
        margin-top: 44px;
        margin-left: 16px;
      }
      .mascot {
        width: 112px;
        margin-top: 24px;
      }
    }
  }
}