//Mobile
@media screen and (max-width: 740px) {
  .sky {
    .sky-top {
      .gameplay-selection {
        height: 20vh !important;
      }
      .gameplay-logo {
        margin-bottom: 20px !important;
      }
    }
  }

  .eluDrop-btn {
    // width: 17vw;
    // height: 6vw;
    h2 {
      font-size: 11px !important;
      -webkit-text-stroke: 0.9px black !important;
    }
    p {
      font-size: 8px !important;
      -webkit-text-stroke: 0.3px black !important;
    }
  }

  .nest-btn {
    // width: 17vw !important;
    // height: 6vw !important;
    h2 {
      font-size: 11px !important;
      -webkit-text-stroke: 0.9px black !important;
    }
    p {
      font-size: 8px !important;
      -webkit-text-stroke: 0.3px black !important;
    }
  }
}
//IPad /Tablet
@media screen and (min-width: 740px) and (max-width: 1024px) {
  .sky-top {
    .gameplay-selection {
      height: 35vh !important;
    }
  }

  .eluDrop-btn {
    width: 18vw;
    height: 6vw;
    h2 {
      font-size: 18px !important;
      -webkit-text-stroke: 1px black !important;
    }
    p {
      font-size: 12px !important;
      -webkit-text-stroke: 0.4px black !important;
    }
  }

  .nest-btn {
    width: 18vw !important;
    height: 6vw !important;
    h2 {
      font-size: 18px !important;
      -webkit-text-stroke: 1px black !important;
    }
    p {
      font-size: 12px !important;
      -webkit-text-stroke: 0.4px black !important;
    }
  }
}
