.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.modal-dialog {
  margin: 0;
}

.modal-100w > .modal-content {
  background: url("https://storage.googleapis.com/laboon-img-storage/play-elu/common/homBackground_Mobile.webp")
    no-repeat center / cover;
  height: 100vh;
  width: 100vw;
  border-radius: 0;
  margin: 0;
}

.modal--frame {
  width: 90%;
  height: calc(100vh - 120px);
  margin: 0 auto;
}

.header__modal-navbar {
  margin: 20px 10px;
  display: flex;
  justify-content: space-between;
}

.header__modal-navbar > img {
  height: 40px;
}

.header__modal-navbar a img {
  height: 40px;
}

.navbar-btn {
  display: none;
  width: 30px;
}

.navbar-btn img {
  width: 100%;
  cursor: pointer;
}

.close__modal-navbar {
  width: 50px;
}

.close__modal-navbar img {
  width: 100%;
}

.body__modal-navbar {
  max-height: 430px;
  height: calc((100vh - 230px));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-logo {
  width: 100%;
  display: flex;
  justify-content: center;

  img {
    width: 50%;
  }
}

.modal-element {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.modal-element--text {
  position: absolute;
  top: 0;
  left: 0;
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-element h2 {
  letter-spacing: 2px;
  z-index: 1;
  left: 0;
  right: 0;
  margin-bottom: 0;
  color: #fff;
  text-align: center;
  top: 0;
}

.modal-element h2:hover {
  color: #403100;
}

.modal-element img {
  width: 100%;
}

.body__modal-navbar .home-btn__gameplay {
  justify-content: center;
  margin-left: calc(50% - 70px);
}

// Medium devices (mobiles)
@media (max-width: 767.98px) {
  .navbar-btn {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
  }

  .modal-element h2 {
    font-size: 20px;
  }
}
